* {
  margin: 0;
  padding: 0;
}
.bg-orange {
  background-color: #ff6b00;
}
.text-orange {
  color: #ff6b00;
}
.bg-blackish {
  background: #101314;
}
.index-row {
  height: 100vh;
}
.nav-logo {
  font-size: 52.7px;
}
.nav ul{
    list-style-type: none;

}
.fs-40{
    font-size: 40px;
}